.header {
  text-align: center;
}

.movie-container {
  margin: auto;
  width: 50%;
}

.movieInfo {
  background-color: white;
  margin: 0;
}

.movie-list{
  border: 1px solid black;
}

#search-input{
  width: 150px;
  height: 28px;
  font-size: 16px;
  background-color: white;
  color: #723855;
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.search-btn{
  width: 100px;
  height: 30px;
  font-size: 16px;
  background-color: white;
  color: #723855;
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto
}